.form-control {
	opacity: 0;
	width: 0;
	transition: all 2s ease;
}

.form-control:nth-child(2) {
	transition-delay: 200ms;
}

.form-control:nth-child(3) {
	transition-delay: 400ms;
}

.input {
	border: 0px;
	border-bottom: 2px solid #212529;
	border-radius: 0;
	transition: all 1s ease;
}

.input:focus {
	border-bottom: 1px solid;
	outline: none !important;
	box-shadow: none !important;
}

.invalid-input {
	border-color: #e94545 !important;
	opacity: 1;
	width: 100%;
}

.label {
	font-weight: 300 !important;
	color: #212529 !important;
	transition: all 0.5s ease;
}

.invalid-label {
	color: #e94545 !important;
}

.warning {
	color: #e94545 !important;
}
