.home-carousel {
	top: 0px;
	min-height: 0.7vh;
	min-height: 0.7svh;
}

.home-carousel-item {
	position: relative;
	object-position: right;
	top: 0;
	left: 0;
	min-height: 93vh !important;
	min-height: 93svh !important;
}

.alt-screen {
	background-color: rgba(0, 0, 0, 0) !important;
}

.home-carousel-img {
	position: relative;
	object-position: right;
	object-fit: cover;
	top: 0;
	left: 0;
	min-height: 93vh !important;
	min-height: 93svh !important;
}

.home-jumbotron {
	min-height: 93vh !important;
	min-height: 93svh !important;
	/* background-image: url("../../assets/images/background.jpg") !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed; */
	background-color: rgba(0, 0, 0, 0);
	overflow: hidden;
	min-width: 100%;
}

@media (max-width: 990px) {
	.home-carousel-item,
	.home-carousel-img {
		min-height: 800px;
		top: 0;
		bottom: 0;
	}

	.home-jumbotron {
		background-color: rgba(0, 0, 0, 0);
		/* background-image: url("../../assets/images/background4.jpg");
		background-size: cover;
		background-position: cover;
		background-repeat: no-repeat;
		background-attachment: scroll; */
		overflow: hidden;
	}
}

@media (max-height: 550px) {
	.home-carousel-item {
		min-height: 150vh !important;
		min-height: 150svh !important;
		background-color: white;
	}
}

@media (max-width: 600px) {
	.home-carousel-item {
		min-height: 100vh !important;
		min-height: 100svh !important;
	}
	.home-carousel-img {
		min-height: 100vh !important;
		min-height: 100svh !important;
	}

	.home-jumbotron {
		min-height: 100vh !important;
		min-height: 100svh !important;
	}
}

@media (min-width: 2168px) {
	.home-carousel-item {
		min-height: 920px !important;
	}
	.home-carousel-img {
		min-height: 920px !important;
	}

	.home-jumbotron {
		min-height: 920px !important;
	}
}
