.overlay-container {
	background-color: rgba(0, 0, 0, 0);
	padding: 0;
	text-align: left;
	transition: all 2s ease;
	opacity: 0;
	margin: 175px 0 115px 0;
}

.bottom-lead {
	margin-bottom: -5px;
}

.animate {
	opacity: 1;
}

@media (max-width: 768px) {
	.overlay-container {
		padding: 0 20px 0;
		text-align: center;
		margin: 175px 0 95px 0;
	}

	.title {
		margin-bottom: 20px;
	}
}
