.hero-carousel {
	top: 0px;
	min-height: 0.7vh;
	/* z-index: 0; */
}

.hero-carousel-item {
	position: relative;
	object-position: right;
	top: 0;
	left: 0;
	min-height: 93vh !important;
}

.alt-screen {
	background-color: rgba(0, 0, 0, 0) !important;
}

.hero-carousel-img {
	position: relative;
	object-position: right;
	object-fit: cover;
	top: 0;
	left: 0;
	min-height: 93vh !important;
}

.hero-jumbotron {
	min-height: 93vh !important;
	background-image: url("../../assets/images/background.jpg") !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	min-width: 100%;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
	z-index: 0;
	opacity: 0;
	transition: opacity 0.6s !important;
}
