.projects-section {
	background-color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	place-content: center;
	justify-content: center;
	align-content: center;
	padding: 100px 0 100px 0;
}
