.project {
	background-color: rgba(255, 255, 255, 0);
	transition: all 1s ease;
	width: 100%;
	opacity: 0;
	height: auto;
	/* max-height: 460px !important; */
	margin: 50px 0 50px 0;
}

.project-carousel-slide {
	transition: all 0.5s ease;
}

.project-carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	transition: all 1s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
	padding: 100px;
}

.project:active,
.project:hover {
	.project-carousel-slide {
		filter: brightness(0.2);
	}

	.project-carousel-caption {
		opacity: 1;
	}
}

.project-title {
	margin-bottom: 20px !important;
}

.project-title a {
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
	transition: all 0.5s ease;
}

.project-title a:hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

.project-carousel-item {
	height: auto;
}

.project-description-container {
	background-color: rgb(243, 243, 243); /* ,0 */
	border-bottom: 2px solid #212529 !important;
	transition: all 1s ease;
	padding: 20px;
	text-align: center;
	justify-content: center;
	align-content: center;
	place-content: center;
	display: none;
}

.project-icon {
	position: relative;
	bottom: 4px !important;
	transition: all 0.5s ease;
}

.project-icon:hover,
.project-icon:active {
	opacity: 0.75;
	transform: translateY(-5px);
}

.project-skill-icon {
	height: 50px !important;
	width: 50px !important;
	margin: 10px 10px 0 10px !important;
	filter: grayscale(100%);
}

@media (hover: none), (pointer: coarse) {
	.project-description-container {
		display: flex;
		flex-direction: column;
	}

	.project-carousel-caption {
		display: none;
	}

	.project:active,
	.project:hover {
		.project-carousel-slide {
			filter: brightness(1);
		}
	}

	.project-skill-icon {
		height: 30px !important;
		width: 30px !important;
		margin: 0 10px 0 10px !important;
	}
}
