.project {
	background-color: rgba(255, 255, 255, 0);
	margin: 3vh 1.8vw 9.8vh 1.8vw;
	transition: transform 1s ease;
	/* width: 100%; */
	width: 1025px;
	height: auto;
}

.project-carousel-slide {
	transition: all 1s ease;
}

.project-carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
	opacity: 0;
	transition: all 1s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	position: absolute;
	text-align: center;
	opacity: 0;
}

.project-carousel-caption ul {
	list-style: none;
	padding: 15px 30px 0 30px;
}

.project-description-container ul {
	list-style: none;
	padding: 0px 20px 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project h5 {
	margin-bottom: 15px !important;
}

.project:active,
.project:hover {
	.project-carousel-slide {
		filter: brightness(0.3);
	}

	.project-carousel-caption {
		opacity: 1;
	}
}

.project-title {
	font-weight: 400 !important;
	margin-bottom: 20px !important;
}

.project-description {
	font-weight: 400 !important;
	margin-bottom: 10px !important;
}

.project-carousel-item {
	height: auto;
}

.carousel-img {
	object-fit: cover;
}

.carousel-item video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project-description-container {
	text-align: center;
	background-color: rgb(243, 243, 243);
	font-size: small !important;
	padding: 3vh 1vw 0 1.5vw;
	transition: transform 0.5s ease;
	border-bottom: 8px solid #212529 !important;
	display: none;
}

.project-description-container .project-description {
	font-size: 0.75rem !important;
}

.project-icon {
	position: relative;
	bottom: 3px !important;
}

@media (max-width: 1250px) {
	.project {
		width: 100%;
	}
}

@media (max-width: 850px) {
	/* .project {
		width: 100%;
	} */
	.project-description-container {
		display: block;
	}
	.project-carousel-caption {
		display: none;
	}
	.project:active,
	.project:hover {
		.project-carousel-slide {
			filter: brightness(1);
		}
	}
}

@media (hover: none), (pointer: coarse) {
	.project-description-container {
		display: block;
	}
	.project-carousel-caption {
		display: none;
	}
	.project:active,
	.project:hover {
		.project-carousel-slide {
			filter: brightness(1);
		}
	}
}
