.project {
	background-color: rgba(255, 255, 255, 0);
	transition: all 1s ease;
	width: 100%;
	opacity: 0;
	height: auto;
	/* max-height: 460px !important; */
	margin: 50px 0 50px 0;
}

.animate {
	opacity: 1;
}

.project-carousel-slide {
	transition: all 0.5s ease;
}

.project-carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	transition: all 1s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
	padding: 100px;
}

.project:active,
.project:hover {
	.project-carousel-slide {
		filter: brightness(0.2);
	}

	.project-carousel-caption {
		opacity: 1;
	}
}

.project-title {
	margin-bottom: 20px !important;
}

.project-title a {
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
	transition: all 0.5s ease;
}

.project-title a:hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

.project-carousel-item {
	height: auto;
}

.carousel-img {
	object-fit: cover;
}

.carousel-item video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project-description-container {
	background-color: rgb(243, 243, 243); /* ,0 */
	border-bottom: 2px solid #212529 !important;
	transition: all 1s ease;
	padding: 20px;
	text-align: center;
	justify-content: center;
	align-content: center;
	place-content: center;
	display: none;
}

.project-icon {
	position: relative;
	bottom: 4px !important;
}

.project-skill-icon {
	filter: brightness(1000%) saturate(0);
	height: 50px !important;
	width: 50px !important;
	margin: 10px 10px 0 10px !important;
}

.mysql-icon {
	transform: scale(1.5) !important;
}

.php-icon {
	width: 80px !important;
	filter: brightness(200%) saturate(0);
}

.flask-icon {
	filter: brightness(100%) saturate(0) contrast(200%);
}

.unrealengine-icon {
	filter: none !important;
	transform: scale(1.1);
}

.html-css-icon {
	filter: invert(100%) brightness(200%) saturate(0) contrast(500%);
}

@media (hover: none), (pointer: coarse) {
	.project-description-container {
		display: flex;
		flex-direction: column;
	}

	.project-carousel-caption {
		display: none;
	}

	.project:active,
	.project:hover {
		.project-carousel-slide {
			filter: brightness(1);
		}
	}

	.project-skill-icon {
		filter: brightness(15%) saturate(0);
		height: 30px !important;
		width: 30px !important;
		margin: 0 10px 0 10px !important;
	}

	.php-icon {
		filter: brightness(165%) invert(100%) saturate(0);
		width: 60px !important;
	}

	.flask-icon {
		filter: brightness(70%) saturate(0) contrast(300%);
	}

	.html-css-icon {
		filter: saturate(0) brightness(85%) contrast(300%);
	}
}
