.skills-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 100px);
	gap: 48px;
	place-items: center;
	justify-content: center;
	align-content: baseline;
	margin: 50px 0 50px 0;
}

.skills-background {
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	min-width: 100%;
	padding: 50px 0 0 0;
}

.cpp-icon {
	/* filter: hue-rotate(40deg) saturate(0.7) brightness(1.05); */
	transform: scale(1.25) !important;
}

.php-icon {
	transform: scale(1.25) !important;
}

.dataiku-icon {
	/* transform: scale(1.3) !important; */
	transform: scale(2.5) !important;
	filter: brightness(0);
}

.mysql-icon {
	transform: scale(1.25) !important;
}

/* .expressjs-icon {
	transform: scale(1.8) !important;
} */

@media (max-width: 768px) {
	.skills-container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(6, 100px);
		padding: 15px;
	}
}

@media (max-width: 300px) {
	.skills-container {
		gap: 20px;
	}
}
