.list-item {
	opacity: 0;
	transform: translateY(100%);
	transition: all 1s ease;
	margin-bottom: 20px;
}

ListItem:nth-child(2) {
	transition-delay: 200ms;
}

ListItem:nth-child(3) {
	transition-delay: 400ms;
}

ListItem:nth-child(4) {
	transition-delay: 600ms;
}

/* @media (max-width: 768px) {
	.list-item {
		transform: translateY(0);
	}
} */
