.top-nav {
	background-color: white;
}

.top-nav-content {
	opacity: 0;
	transition: all 1s easey;
	transition-delay: 0.5s;
}

.top-nav a:hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

.animate {
	opacity: 1 !important;
}
