.top-nav {
	background-color: white;
	width: 0;
	transition: all 0.5s ease;
	transition-delay: 0.5s;
	height: 60px !important;
}

.top-nav-content {
	opacity: 0;
	transition: all 1s ease;
	transition-delay: 1s;
}

.top-nav a:hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

.animate {
	opacity: 1 !important;
	width: 100% !important;
}
