.top-nav {
	background-color: rgba(255, 255, 255, 0);
	transition: all 0.5s ease;
	transition-delay: 0.5s;
}

.top-nav::before {
	content: "";
	background-color: #ffffff;
	width: 0;
	z-index: -1;
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;
	transition-delay: 0.5s;
}

.top-nav-content {
	opacity: 0;
	transition: all 1s ease;
	transition-delay: 1s;
}

.top-nav a:hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

.animate {
	opacity: 1 !important;
}

.animate::before {
	width: 100% !important;
	left: 0 !important;
}
