.about-me {
	padding-top: 1%;
	padding-bottom: 7%;
	background-color: white;
	place-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	align-content: center;
}

.bio {
	padding: 0 17.5% 0 18.25%;
	margin: 0%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	gap: 0;
	align-items: center;
	place-content: center;
	justify-content: center;
}

.bio-text {
	padding: 0 !important;
}

.bio-text ul {
	list-style: none;
	padding: 0 !important;
}

@media (max-width: 990px) {
	.bio {
		padding: 0 4% 0 4%;
		grid-template-rows: 0.5fr 1fr;
		grid-template-columns: 1fr;
		place-content: center;
		align-items: center;
		justify-content: center;
		justify-items: center;
		align-content: center;
	}

	.bio-text {
		padding: 50px !important;
		text-align: center !important;
	}
}

@media (min-width: 1400px) and (max-width: 2600px) {
	.bio {
		padding: 0 25% 0 26.5%;
	}
}

@media (min-width: 2601px) {
	.bio {
		padding: 0 35% 0 36.5%;
	}
	.about-me {
		padding-bottom: 4%;
	}
}
