.headshot-container {
	padding-right: 0% !important ;
	text-align: right;
}

.headshot {
	border: #212529 solid;
	width: 220px;
	border: none;
	text-align: center;
	justify-content: center;
	margin-right: 100px;
	/* box-shadow: 0 0 0.73vw rgba(0, 0, 0, 0.1); */
	transition: all 2s ease;
	opacity: 0;
	/* transform: translateX(50%); */
	/* height: 0%; */
	/* width: 0%; */
}

/* .headshot:active,
.headshot:hover {
	transform: translateY(-2.6vh);
} */

.animate {
	opacity: 1;
	/* transform: translateX(0); */

	/* width: 220px; */
	/* height: 100%; */
}

@media (max-width: 990px) {
	.headshot-container {
		text-align: center !important;
		margin: 0%;
		padding: 0%;
	}
	.headshot {
		margin: 0% !important;
	}
}
