.headshot-container {
	padding-right: 0 !important ;
	display: flex;
	place-content: center;
	position: relative;
}

.headshot {
	width: 250px;
	transition: all 1s ease;
	opacity: 0;
	border-radius: 100%;
	transform: scale(0.9);
}
.animate {
	opacity: 1;
	transform: scale(1);
}

@media (max-width: 990px) {
	.headshot-container {
		margin: 0;
		padding: 0;
	}
	.headshot {
		margin: 0 !important;
	}
}
