.timeline {
	padding: 100px 0 50px 0;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: none;
}

.timeline-container {
	display: grid;
	grid-template-columns: 0 2fr;
	place-content: center;
	justify-content: center;
	margin: 50px 0 50px 0;
}
