.timeline {
	padding: 45px 1.8vw 13vh 1.8vw !important;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: none;
}

.timeline-container {
	padding: 0 8% 0 8%;
	display: grid;
	grid-template-columns: 3px 2fr;
	place-content: center;
	justify-content: center;
}

@media (max-width: 768px) {
	.timeline-container {
		padding: 0 0 0 5%;
	}
}

@media (min-width: 3700px) {
	.timeline-container {
		padding: 0 34% 0 34%;
	}
}

@media (min-width: 2101px) and (max-width: 3699px) {
	.timeline-container {
		padding: 0 25% 0 25%;
	}
}

@media (min-width: 1400px) and (max-width: 2100px) {
	.timeline-container {
		padding: 0 18% 0 18%;
	}
}
