.timeline-item {
	margin: 0px 0 50px 0;
	padding: 25px 50px 25px 50px;
	border-top: 8px solid #212529 !important;
	position: relative;
	background-color: rgb(255, 255, 255);
	width: 92%;
	left: 8%;
	transition: all 1s ease;
	opacity: 0;
	transform: translateY(100%);
	max-width: 100%;
}

.timeline-text {
	margin-bottom: 5px !important;
}

/* .timeline-information {
	font-size: 1.2rem !important;
} */

.animate-item {
	opacity: 1;
	transform: translateY(0);
}

.timeline-item:nth-child(2) {
	transition-delay: 300ms;
}

.timeline-item:nth-child(3) {
	transition-delay: 600ms;
}

.timeline-header {
	/* font-size: 2rem !important; */
	transition: all 1s;
}

.timeline-point {
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	background: #212529;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all 1s ease;
}

.animate-point {
	opacity: 1;
}

.timeline-bar {
	position: relative;
	background: rgb(255, 255, 255);
	width: 2px;
	margin-left: 35px;
}

/* #start.timeline-point {
	top: initial;
	bottom: 0;
}

#start.timeline-bar {
	top: 0 !important;
	height: 22.5% !important;
}

#end.timeline-point {
	top: 0px;
	bottom: 0;
}

#end.timeline-bar {
	top: 17% !important;
	height: 80% !important;
} */

@media (max-width: 768px) {
	.timeline-bar {
		margin-left: 10px;
	}

	/* .timeline-point {
		transform: translateX(-50%);
	} */

	/* .timeline-header {
		font-size: 1.5rem !important;
	} */

	/* .timeline-information {
		font-size: 1.1rem !important;
	} */

	.timeline-item {
		padding: 25px;
	}

	.timeline-item {
		transform: translateY(0);
	}
}
