.footer-container {
	opacity: 0;
	/* transform: translateY(100%); */
	transition: all 2s ease-in-out;
}

.animate {
	opacity: 1;
	transform: translateY(0);
}

.gm-link-footer {
	position: relative;
	top: 10.5px;
	margin-right: 10px;
}

.copyright {
	margin-bottom: 0.65vh;
	margin-bottom: 0.65lvh;
	font-weight: 50;
	font-size: small;
}

@media (max-width: 850px) {
	.gm-link-footer {
		margin-right: -3.5px;
	}
}
