.footer-container {
	opacity: 0;
	transition: all 0.5s ease;
}

.animate {
	opacity: 1 !important;
}

.gm-link-footer {
	position: relative;
	top: 13px;
	margin-right: 7.5px;
}

.copyright {
	font-weight: 50;
	font-size: small;
	opacity: 0;
	transition: all 1s ease-in-out;
	transition-delay: 0.25s;
}

@media (max-width: 850px) {
	.gm-link-footer {
		margin-right: -5px;
	}
}
