/* CAROUSELS */

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
	z-index: 0;
	opacity: 0;
	transition: opacity 0.6s !important;
}

.carousel-item {
	background-color: white;
}

.carousel-video {
	object-fit: cover;
	width: 100%;
	height: auto;
}

.carousel-img {
	object-fit: cover;
	animation: zoom 12s;
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.025);
	}
	100% {
		transform: scale(1);
	}
}

/* SCROLL ANIMATIONS */

.animate {
	opacity: 1 !important;
	transform: translateX(0) translateY(0) translateZ(0) scale(1) rotate(0deg)
		skew(0deg, 0deg) !important;
}

.animate-background {
	width: 100vw !important;
}

.animate-form {
	opacity: 1 !important;
	width: 100% !important;
}

.animate-navbar {
	opacity: 1 !important;
	width: 100% !important;
}

.animate-navbar::before {
	width: 100% !important;
	left: 0 !important;
}
