/* CAROUSELS */

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
	z-index: 0;
	opacity: 0;
	transition: opacity 0.6s !important;
}

.carousel-item {
	height: 500px;
	background-color: white;
}

.carousel-img {
	object-fit: cover;
	animation: zoom 12s;
}

.carousel-video {
	object-fit: cover;
	width: 100%;
	height: auto;
}

/* MICSELLANEOUS */

.bottom-lead {
	margin-bottom: -1.4vh;
}

.line {
	line-height: 1.4rem;
	font-size: 1.1rem !important;
}

.background {
	/* background-image: url("./assets/images/background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed; */
	background-color: rgba(0, 0, 0, 0);
	overflow: hidden;
	min-width: 100%;
	padding: 9.75vh 5.5vw 9.75vh 5.5vw;
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.025);
	}
	100% {
		transform: scale(1);
	}
}

/* ICONS */

.icon {
	height: 30px;
	width: 30px;
	transition: transform 0.5s ease;
}

.white-icon {
	filter: brightness(100%);
	filter: invert(100%);
}

.white-icon:active,
.white-icon:hover {
	opacity: 0.45;
	transform: translateY(-5px);
}

.dark-icon {
	opacity: 0.85;
}

.dark-icon:active,
.dark-icon:hover {
	opacity: 0.45;
	transform: translateY(-5px);
}

.icon-link {
	margin-right: 17.5px;
	margin-top: 5px;
}

.gm-link {
	position: relative;
	top: 12.5px;
	margin-right: 10px;
}

.hr-icon {
	border-radius: 2.5px;
}

.gm-icon {
	height: 55px;
	width: 55px;
}

.white-gm-icon {
	margin-top: -20px;
	height: 50px;
	width: 50px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
	.background,
	.projects-jumbotron {
		padding: 20px;
	}

	.carousel-img {
		height: 100%;
		width: 100%;
	}
}

@media (max-width: 990px) {
	.hero-carousel-item,
	.hero-carousel-img {
		min-height: 800px;
		top: 0;
		bottom: 0;
	}

	.icon-link {
		margin-right: 5px;
	}

	.gm-link {
		margin-right: -4px;
	}
}

@media (max-width: 660px) {
	.line {
		font-size: 0.9rem !important;
	}

	.background {
		padding: 30px;
	}
}

@media (min-width: 1175px) and (max-width: 1300px) {
	.line {
		font-size: 0.9rem !important;
	}
}
