.background-image {
	position: relative;
	object-position: cover;
	transform: translateY(-22%) !important;
	max-width: 100vw !important;
	object-fit: cover;
	z-index: -2;
}

.background {
	max-height: 100vh !important;
	max-height: 100lvh !important;
	max-width: 100vw !important;
	min-height: 0.7vh;
	min-height: 0.7lvh;
	position: fixed;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: cover;
	z-index: -2;
	overflow: hidden;
	padding: 0 !important;
	transition: all 0.5s ease;
}

@media (max-width: 990px) {
	.background-image {
		max-width: auto !important;
		min-height: 100vh !important;
		min-height: 100lvh !important;
		transform: translateY(0) !important;
		overflow: hidden;
	}
}

@media (min-width: 1500px) {
	.background-image {
		transform: translateY(-15%) !important;
	}
}

@media screen and (max-aspect-ratio: 5/3) {
	.background-image {
		min-width: 100vw !important;
		min-height: 100vh !important;
		min-height: 100lvh !important;
		transform: translateY(0) !important;
		overflow: hidden;
	}
}
